<section>
    <div class="container text-center text-white py-5">
        <div class="row py-4">
            <div class="col-4">
               <div>
                <h4>LOCATION</h4>
                <p>2215 John Daniel Drive</p>
                <p>Clark, MO 65243</p>
               </div>
            </div>
            <div class="col-4">
                <div>
                    <h4>AROUND THE WEB</h4>
                    <div>
                        <i class="fa-brands fa-facebook mx-1 icon"></i>
                        <i class="fa-brands fa-twitter mx-1 icon"></i>
                        <i class="fa-brands fa-linkedin-in mx-1 icon"></i>
                        <i class="fa-solid fa-globe mx-1 icon"></i>
                    </div>
                     
                </div>
            </div>
            <div class="col-4">
                <h4>ABOUT FREELANCER</h4>
                <p>Freelance is a free to use, licensed Bootstrap theme <br> created by Route</p>
            </div>
        </div>
    </div>
</section>

