<section>
    <div class="container text-white  w-75">
        <h1 class="text-center fw-bolder">ABOUT COMPONENT</h1>
        <div class="py-2 text-center">
            <div class="line d-inline-block"></div>
            <i class="fa-solid fa-star px-3 "></i>
            <div class="line d-inline-block"></div>
        </div>
        <div class="row">
            <div class="col-6">
                <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            </div>
            <div class="col-6">
                <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            </div>
        </div>
    </div>
</section>
