section{
    background-color: #1ABC9C;
    height: 490px;
    display: flex;
    align-items: center;
}
.line{
    background-color: #fff;
    width: 70px;
    height: 4px;
    }
    .fa-star{
    position: relative;
    left: 0;
    top: 3px;
    }