<section>
    <div class="container py-5">
        <h1 class="fw-bolder text-center">CONATCT SECTION</h1>
        <div class="py-2 text-center">
            <div class="line d-inline-block"></div>
            <i class="fa-solid fa-star px-3 "></i>
            <div class="line d-inline-block"></div>
        </div>
        <div class="inputs mx-auto">
            <input type="text" class="form-control my-5" placeholder="userName">
            <input type="text" class="form-control my-5" placeholder="userAge">
            <input type="text" class="form-control my-5" placeholder="userEmail">
            <input type="text" class="form-control my-5" placeholder="userPassword">
            <button class="btn">send massage</button>
        </div>
    </div>
</section>
