<section>
    <div id="home">
        <div class="headtext w-50 mx-auto text-center  text-white py-3">
           <img src="../../assets/image/avataaars.svg" alt="" class="py-4">
           <h1 class="fw-bolder">START FRAMEWORK</h1>
           <div class="py-3">
            <div class="line d-inline-block"></div>
            <i class="fa-solid fa-star px-3 "></i>
            <div class="line d-inline-block"></div>
           </div>
           <p>Graphic Artist - Web Designer - Illustrator</p>
        </div>
    </div>
</section>
